		/* Reset CSS
		 * --------------------------------------- */
         body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
         form,fieldset,input,textarea,p,blockquote,th,td {
             padding: 0;
             margin: 0;
         }
         a{
             text-decoration:none;
         }
         table {
             border-spacing: 0;
         }
         fieldset,img {
             border: 0;
         }
         address,caption,cite,code,dfn,em,strong,th,var {
             font-weight: normal;
             font-style: normal;
         }
         strong{
             font-weight: bold;
         }
         ol,ul {
             list-style: none;
             margin:0;
             padding:0;
         }
         caption,th {
             text-align: left;
 
         }
         h1,h2,h3,h4,h5,h6 {
             font-weight: normal;
             font-size: 100%;
             margin:0;
             padding:0;
             
         }
         q:before,q:after {
             content:'';
         }
         abbr,acronym { border: 0;
         }
 
 
         /* Custom CSS
          * --------------------------------------- */

         h1{
             font-size: 6em;
         }
         h2{
             font-size:4em;
         }
         h5{
            font-size:20px
         }
         p{
             font-size: 2em;
         }
         .content{
             position: relative;
             transform: translateY(-50%);
             text-align: center;
             top:50%;
         }
        /*
        * Section 0
        */
        .section0_content{
            display:flex;
            flex-direction: column;
        }
        .section0_content p{
            font-size: 30px;
            opacity: 1;
        }
        #section0_icon{
            opacity: 0.7;
            width:100px;
            height: auto;
            align-self: center;
        }
        #section0{
            background-image: url('../image/gray.jpg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        #section0 h1{
            color: #444;
        }
        #section0 p{
            color: #333;
            
        }
         /* Section 1
          * --------------------------------------- */
        .section1_content{
            display:flex;
            flex-direction: row;

        }
        #section1_imagezone{
            width:40vw;

            text-align: right;
        }
        #section1_imagezone_list{
            margin-right: 100px;
        }
        #section1_textzone{
            width:60vw;
        }
 
 
         /* Section 2
          * --------------------------------------- */
         #section1{
             /* background-color: #BDBDBD; */
         }
         #section1 h1{
            
         }
         #section1 p{
             opacity: 0.8;
         }
 
 
         /* Section 3
          * --------------------------------------- */
         #section2{
            /* background-color: #A9E2F3 */
         }
         #section2 h1{
             
         }
         #section2 .contain p{
             opacity: 0.6;
         }
         #section2 .title span{
             font-weight: 100;
             font-size:4em;
             padding-top:40px;
             margin-left:40px;
             display:block;
         }
         #section2 .contain-text span{
            font-size:40px;
            text-align: left;
            align-self: end;
         }
          #section2 .contain-text p{
              font-size:20px;
             
         }
 
         /* Section 4
          * --------------------------------------- */
          #section3{
            /* background-color: #CEF6E3; */
            
        }
        #section3 h1{
            
        }
        #section3 p{
            opacity: 0.8;
            font-size:  1.5em;
        }
        #section3 #slide3 .content{
            display: flex;
            flex-direction: column;
        }
        #section3 #slide4 .content{
            display: flex;
            
            flex-direction: column;
        }
         /* Section 4
          * --------------------------------------- */
          #section4{
            /* background-color: #A9F5D0; */
            
        }
        #section4 h1{
            
        }
        #section4 p{
            opacity: 0.6;
        }
         /* Section 5
          * --------------------------------------- */
          #section5{
            
            /* background-color: #A9F5F2; */
        }
        #section5 h1{
            
        }
        #section5 p{
            opacity: 0.6;
        }
         /* Section 7
          * --------------------------------------- */
          #section6{
            
            background-color: #A9F5F2;
        }
        #section6 h1{
            
        }
        #section6 p{
            opacity: 0.6;
        }
